/* * {
  outline: 1px solid lime;
} */

.container {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.title {
  font-size: xx-large;
}

.content {
  padding: 1rem 10rem;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 2rem;
  }
}
